{% extends 'paginas_base/base.html' %}
{% load static %}
{% block titulo %}Página Nosotros {% endblock titulo %}
{% block contenido %}
<div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
  <div class="d-flex justify-content-between">
    <div class="col-md-6 px-0">
      <h1 class="display-3 fst-weight-bold">La vida de las Escuelas PRoA</h1>
      <p class="lead my-3">Aileen Koning</p>
      <p class="lead mb-0"><a href="#" class="text-white fw-bold"></a></p>
    </div>
    <div class="col-md-6 px-0 text-end">
      <img src="{% static 'logo.png' %}" class="rounded" alt="logo" width="300">
    </div>
  </div>
</div>

    <div class="row mb-2">
        <div class="col-md-6">
          <div class="row g-0 bg-dark border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <strong class="d-inline-block mb-2 text-primary"></strong>
              <h3 class="mb-0 text-white">Las escuelas PRoA</h3>
              <div class="mb-1 text-muted">11 Nov</div>
              <p class="card-text mb-auto text-white">Las ProA son escuelas modelo en innovación educativa, que forman jóvenes especializados en Desarrollo de Software y en Biotecnología, saberes claves para el desarrollo productivo de nuestra región.
                En jornadas de 8 horas, las y los estudiantes participan en clubes de ciencias, arte, deportes, talleres de inglés aplicado y clases específicas vinculadas a la especialidad.
                La propuesta educativa también incluye tutorías que acercan herramientas personalizadas y acompañan los distintos ritmos de aprendizaje. Actualmente, funcionan más de 40 Escuelas ProA en toda la provincia.</p>
              <a href="#" class="stretched-link"></a>
            </div>
            <div class="col-auto d-none d-lg-block">
              <svg class="bd-placeholder-img" width="200" height="480" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></svg>
    
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row g-0 bg-dark border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <strong class="d-inline-block mb-2 text-success"></strong>
              <h3 class="mb-0 text-white">Nuestra sede Cruz del Eje</h3>
              <div class="mb-1 text-muted">11 Nov</div>
              <p class="mb-auto text-white">Nuestro establecimiento cuenta con capacidad para 180 alumnos y alumnas. Tiene una superficie cubierta de 1.596 metros cuadrados distribuidos en cuatro aulas y tres talleres: informática, info-arte y ciencias. El edificio está equipado con las herramientas necesarias para el aprendizaje de las nuevas tecnologías: 31 computadoras de escritorio, 38 estabilizadores de tensión UPS, laboratorio, siete pizarras digitales y proyectores multimedia, tres sistemas de sonido, cuatro sets de parlantes y sistema de wifi en todo el complejo.

              </p>
              <a href="#" class="stretched-link"></a>
            </div>
            <div class="col-auto d-none d-lg-block">
              <svg class="bd-placeholder-img" width="200" height="490" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></svg>
    
            </div>
          </div>
        </div>
      </div>
   

{% endblock contenido %}
